.App {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  background: linear-gradient(180deg, #F9DC79 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FBF0CA 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(121.77deg, #FBF9F1 4.53%, rgba(251, 249, 241, 0) 100.67%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.Charities {
  background: linear-gradient(180deg, #48C9B0 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FBF0CA 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FBF9F1 0%, rgba(251, 249, 241, 0) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-family: Nunito Sans;
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  top:20px;
  color: rgb(0,0,0); */
  /* line-height: 65px; */
}

.Account{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  background:  linear-gradient(241.09deg, rgba(44, 120, 108, 0.195) 18.09%, rgba(248, 180, 0, 0.5) 83.04%), #FBF9F1;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.small{
  width: 87%;
}

.logo{
  width:60%;
}

.homebutton{
  margin-top: 20%;
}

.bottomBorder{
  border-bottom: 5px solid #48C9B0;
}